page {
	background-color: #eddaa6;
	/* font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif; */
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.up-side {
	
}

.down-side {
	background-color: #324149;
}